.h-screen{
    height: 100dvh !important;
}

.text-small{
  font-size: x-small;
}

.text-medium{
  font-size: 0.9rem;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.button-holder{
  box-shadow:5px 5px 20px #076107, -5px -5px 20px #34ee0f;
  border-radius: 50%;
}

.oblique-button {
  position: relative;
  width: 15rem;
  height: 15rem;
  border: none;
  border-radius: 50%;
  background: linear-gradient(145deg, #076107, #34ee0f);
  box-shadow:inset 10px 10px 30px #076107, inset -10px -10px 30px #34ee0f;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transform: skew(-10deg, 10deg);
  
}

.oblique-button:active {
  box-shadow: inset 10px 10px 30px #34ee0f, inset -10px -10px 30px #076107;
}

.oblique-button:active > .button-image{
  transform: scale(0.9);
}

.button-image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.counter-display {
  position: absolute;
  color: #fefefe;
  font-size: 1.5rem;
  font-weight: bold;
  animation: fadeOut 1s forwards;
}

.shadow-success{
  box-shadow:5px 5px 15px #076107, -5px -5px 15px #34ee0f;
}

.bg-custom{
  background: linear-gradient(145deg, #076107, #2cce0c);
}

.three-d-button {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.three-d-button canvas {
  width: 300px;
  height: 300px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform:translateY(0px);
  }
  100% {
    opacity: 0;
    transform:translateY(-200px);
  }
}


